@font-face {
    font-family: "クラフト明朝";
    src: url("./craftmincho/craftmincho/craftmincho.otf");
}

.fuchidori {
    color: #000;
    text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
            -1px 1px 0 #FFF, 1px -1px 0 #FFF,
            0px 1px 0 #FFF, 0-1px 0 #FFF,
            -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.blueLine{
    background-color: #007bff;
    padding: 1px;
}

.box{
    
}

.field {
    display: flex;
    margin-left:15%;
}

.marginTop{
    margin-top:6%;
}

.marginTopHalf {
    margin-top: 3%;
}

.marginTopQuarter{
    margin-top:1%;
    background-color:#f5f5f5;
}

.marginBottomHalf{
    margin-bottom:3%;
}
.marginBottomQuarter {
    margin-bottom: 1%;
}

.centering{
    text-align: center;
}

.textCentering{
    margin-left:39%;
}

.spacer{
    user-select: none;
    margin-left:10%;
}

body {
    background-color: #f5f5f5;
}

a:link {
    color: #4cefe9;
}

a:visited {
    color: #4cefe9;
}

a:hover {
    color: red;
}

input[type=text] {
    height: 35px;
    font-size: 16px;
    margin-left: 30%;
    font-family:serif;
}

button{
    margin-left: 8px;
    width: 75px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa500;
    border-radius: 5px;
    box-shadow: 8px 8px 16px #303030;
}

p{
    font-family:"クラフト明朝";
    font-size:26px;
}

h1 {
    font-family: "クラフト明朝";
    font-size: 44px;
}

h2{
    font-family:"クラフト明朝";
    font-size:44px;
    text-align: center;
}

h3{
    font-family: "クラフト明朝";
    font-size:28px;
    text-align: center;
    background-color: #ffa500;
    margin-top:5px;
    margin-left:5%;
    padding:30px 10px 30px 10px;
    width:32.5%;
    border-radius: 10px;
    box-shadow: 20px 20px 40px #303030;
}

h4{
    font-family: "クラフト明朝";
    font-size: 44px;
    margin:0px;
}

ul{
    font-family: "クラフト明朝";
    font-size:28px;
    margin-left: 32%;
}

li{
    margin:5px;
}


img {
    display: block;
    margin: auto;
}

footer{
    margin:0px;
}
